@CHARSET "UTF-8";

.error-input {
	border-color: #ff0000;
	background-color: #ff0000;
	margin-left: 5px;
}

.error-messages {
	color: #ff0000;
}

/* auther mikami */

.employeeserchformelement{
	padding-bottom: 10px;
}

.employeeserchform{
	padding-bottom: 15px;
}

.employeeserchformbutton{
	float: right;
	margin-right: 10px;
}

